@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.dashboard {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 24px auto;
    max-width: 300px;
    font-family: "Roboto", sans-serif;
  }
  
  .dashboard-header {
    background-color: #000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    text-align: center;
    padding: 16px;
  }
  
  .dashboard-header h3 {
    margin: 0;
    text: center;
  }
  
  .dashboard-body {
    padding: 16px;
  }

  .link-path {
    color: #fff;
  }
  
  .dashboard-body p {
    margin-bottom: 16px;
  }
  
  .dashboard-body ul {
    display: flex;
    justify-content: center;
}

h3 {
  color: white;
}
  
  .dashboard-body li {
    list-style: none;
    width: 100px;
    margin-bottom: 8px;
    text: center;
    color: #000;
}
